.JobSeekerCard-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 340px;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  height: 100%;
}

.JobSeekerCard-avatar-name {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.JobSeekerCard-skills {
  display: flex;
  gap: 8px;
}