.popupForm {
  background: brown;
  position: relative;
  flex-direction: column;
  width: max-content;
  display: flex;
  padding: 15px;
  z-index: 10000000;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  margin: 0px auto;
  gap: 16px;
}
