button {
  height: 48px;
  border-radius: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 1.3rem;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
  box-shadow: 0px 4px #000000;
}

.contained {
  background-color: var(--Black);
  color: var(--White);
}

.contained:hover {
  background-color: var(--Gray-dark);
}

.outlined {
  background-color: var(--White);
  border: solid 2px;
}

.outlined:hover {
  background-color: var(--Gray-clair);
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

