button {
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 1.3rem;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
  box-shadow: 0px 4px #000000;
  margin-bottom: 4px;
}

button:active {
  margin-top: 4px;
  box-shadow: none;
  margin-bottom: 0px;
}

.small {
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 10px 18px;
}

.contained {
  background-color: var(--Black);
  color: var(--White);
}

.contained:hover {
  background-color: var(--Gray-dark);
}

.outlined {
  background-color: var(--White);
  border: solid 2px;
}

.outlined:hover {
  background-color: var(--Gray-clair);
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

