.signup--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 16px;
}

.signup--container form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.SignUp-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.SignUp-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.SignUp-toggle {
  display: flex;
  justify-content: center;
}

