.NavBarTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 24px;
  background-color: #ffffff;
}

.NavBarTop-fixed {
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 0;
}

.NavBarTop h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
