.NavBarTop {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  margin-left: 38px;
  margin-top: 15px;
}

.picture-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
