.NavBarTop {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px #00000066;
}

.NavBarTop-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  max-width: 400px;
}

.NavBarTop-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.NavBarTop h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.NavBarTop-Salut-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.NavBarTop-Logout {
  cursor: pointer;
}
