/* Phone */
.createjoboffer form {
  overflow-y: auto;
}

.languagesform {
  display: flex;
	margin-top: 5px;
	gap: 50px;
  align-items: flex-start;
  padding: 0px 0px 16px;

  position: static;
  width: 338px;
  max-height: 100px;
  left: 0px;
  top: 59px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.firstcolumn {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.secondcolumn {
	display: flex;
	flex-direction: column;

}
/* Auto layout */
.createjoboffer {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  padding: 10px;

  position: static;
  max-width: 384px;
  max-height: 889px;
  left: 0px;
  top: 0px;

  /* Native White */

  background: #ffffff;
  /* Native Black */

  border: 4px solid #000000;
  box-sizing: border-box;
  /* Drop Shadow / Large */

  box-shadow: 0px 8px 0px #000000;
  border-radius: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.createjoboffer h5{
	padding-top: 20px;
}

.createjoboffer .joboffercontent {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 10px 16px 16px;

  position: static;
  max-width: 364px;
  max-height: 704px;
  left: 10px;
  top: 71px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
}

.createjoboffer .ProfileTabsNav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  max-width: 338px;
  max-height: 56px;
  left: 16px;
  top: 16px;

  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
}

.createjoboffer .tabs.tabs-separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  position: static;
  max-width: 112px;
  max-height: 56px;
  left: 226px;
  top: 0px;

  /* Off White */

  background: #fafafc;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}

.createjoboffer .tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 40px;

  position: static;
  max-width: 70px;
  max-height: 56px;
  left: 156px;
  top: 0px;

  /* Citrus Wasp */

  background: #f3c522;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.createjoboffer Logo {
  position: static;
  max-width: 29px;
  max-height: 29.75px;
  left: 10px;
  top: 15.63px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.createjoboffer .InputTextField input {
  padding: 10px;
	margin-right: 5px;
}

.jobdescription .InputTextField input {
  position: static;
  width: 338px;
  height: 161px;
  left: 0px;
  top: 375px;

  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#companyname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	padding: 10px;
	margin-right: 5px;
  position: static;
  width: 164px;
  height: 50px;
  left: 0px;
  top: 20px;

  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

#companysize {
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	padding: 10px;
	margin-right: 5px;
  position: static;
  width: 164px;
  height: 50px;
  left: 0px;
  top: 20px;
  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
	margin-left: 8px;
}

.firstInputRow label {
  padding-left: 10px;
}

.firstInputRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 338px;
  height: 80px;
  left: 0px;
  top: 279px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}



#role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	padding: 10px;
	margin-right: 5px;
  position: static;
  width: 164px;
  height: 50px;
  left: 0px;
  top: 20px;

  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

#level {
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	padding: 10px;
	margin-right: 5px;
  position: static;
  width: 164px;
  height: 50px;
  left: 0px;
  top: 20px;
  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
	margin-left: 8px;
}

.secondInputRow label {
  padding-left: 10px;
}

.secondInputRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 338px;
  height: 80px;
  left: 0px;
  top: 279px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.createjoboffer textarea {
  position: static;
  width: 338px;
  height: 161px;
  left: 0px;
  top: 375px;

  /* Off White */

  background: #fafafc;
  /* Off Black */

  border: 2px solid #1d1d1f;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.secondpartform label {
	padding-top: 15px;
}