.profile-sections {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border: solid 1px blue;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
}

.dates {
  display: flex;
  gap: 16px;
}

.checks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: aqua;
}

.checks-line {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.title-and-plus {
  display: flex;
  justify-content: space-between;
}
