.profile-sections {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--Gray-dark);
  border-radius: 8px;
  gap: 16px;
  padding: 24px;
}

.dates {
  display: flex;
  gap: 16px;
}

.checks {
  display: flex;
  flex-direction: column;
}

.checks-line {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-bottom: 16px;
}

.title-and-plus {
  display: flex;
  justify-content: space-between;
}

.title-and-plus h3 {
  margin-bottom: 16px;
}

.buttons-container {
  display: flex;
  gap: 8px;
  margin: auto;
}
