.ProfileTabsNav-container {
  display: flex;
  justify-content: space-evenly;
  border: solid 1px  ;
  gap: 24px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 400px;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

.tabs {
  background-color: var(--CitrusWasp-color);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.tabs h3 {
  font-size: 1.2rem;
}

