.favourite_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid black;
  gap: 5rem;
}

.company_logo_favourites {
  background: #f3c522;
  display: flex;
  padding: 5px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.showCard_div {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 2rem;
  cursor: pointer;
}

.showCard_div:hover {
  background: #f3c522;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

.popUpForm {
  background: transparent;
  position: absolute;
  flex-direction: column;
  width: max-content;
  display: flex;
  padding: 15px;
  z-index: 10000000;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  margin-left: 50px;
}

.showCard {
  position: fixed;
  margin-left: 40px;
}

.hidden {
  display: none;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  top: -9999px;
}

.button_holder {
  display: flex;
  gap: 1rem;
  align-items: center;
}
